<html>
<head>
    <title>微信支付测试DEMO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="/js/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.timers-1.2.js"></script>
    <script type='text/javascript'>

        $(function () {
            
        });

        function save() {
            var totalFee = $("#totalFee").val(); //订单金额 单位为分
            var channelid = $("#channelid").val();//支付方式
            $.ajax({
                    type: "POST",
                    url: '/iotopay/createorder?totalFee=' + totalFee +'&channelid=' + channelid,
                    contentType: "application/json",
                    dataType: "json",
                    async: "false",
                    success: function (json) {
                        if (json != null && json.status == 0) {
                            alert("支付成功！");
                            $('body').stopTime('payStatusTimer');
                            return false;
                        } else if (json.status == 1) {
                            alert("生成二维码失败!")
                            $('body').stopTime('payStatusTimer');
                            return false;
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("服务器错误！状态码：" + json.status);
                        // 状态
                        console.log(json.readyState);
                        // 错误信息
                        console.log(json.statusText);
                        return false;
                    }
                })
        }

    </script>

</head>
<body>
<p>订单流水号：
<h3></h3></p>
支付金额：<input id="totalFee" type="text" value="1"/> 分 &nbsp;
<button type="button" onclick="save();">生成二维码</button>
<div class="form-group row">
	<label for="channelid" class="col-md-3 col-form-label">Channel Id</label>
	<div class="col-md-9">
		<select class="form-control" id="channelid" name="channelid">
			<option value="ALIPAY_PC">ALIPAY_PC</option>
			<option value="ALIPAY_WAP">ALIPAY_WAP</option>
			<option value="ALIPAY_QR">ALIPAY_QR</option>
			<option value="WX_NATIVE">WX_NATIVE</option>
		</select>
	</div>
</div>
</body>
</html>
